<template name="EnteredRoom">
  <div class="videoPage">
    {{#if loading}}
      <div id="entered" style="font-size:30px;color:white">Loading...</div>
    {{else}}
      <div class="alpha60 currRoom row">
            {{#if video_objs}}
              {{#constant}}
              <div class="video-container col-xs-12 col-sm-10" id="video-container">
                <div id='youtube-video'></div>
                <div class="error" style="font-size:30px;color:white;display:none;">No Videos :( Try adding one!</div>
              </div>
              {{/constant}}
            {{else}}
              <div id="msg" class="col-xs-12 col-sm-10 video-container" style="font-size:30px;color:white;">
                Loading...
              </div>
            {{/if}}
              <div class="playlist-container col-sm-2">
                <div class="row">
                  <div class="cl-effect-1 row" style="padding-top:4px;">
                    <a href="" id="toFullscreen" class="col-md-8" style="padding: 0px;color: #979797;text-decoration:none;">fullscreen</a>
                    <a href="" id="toAddVideo" class="col-md-4" style="padding: 0px;color: #979797;text-decoration:none;text-align:right;">add</a>
                  </div>
                  <div  id="roomTitle" class="marquee">
                    <h2 class="marquee-text col-sm-12" id="title">{{room.name}}</h2>
                  </div>
                  <h5 class="">Room ID: {{room.urlId}}</h5>
                </div>
                {{#isolate}}
                <div class="playlist-height" style="height:81%">
                  <div id="playlist">
                  </div>
                </div>
                <div class="addVideoPanel" style="display:none;">
                  <form class="form-horizontal">
                      <h5>Add a Video</h5>
                      <div class="input-group">
                        <input type="text" class="form-control" id="searchTerms">
                        <span class="input-group-btn">
                          <input type="submit" value="Search!" onclick="return false;" class="btn btn-default searchYoutube" />
                        </span>
                      </div>
                      <div id="results"></div>
                      <div class="form-actions col-sm-offset-2 col-sm-10">
                        <a class="btn delete">Cancel</a>
                      </div>
                  </form>
                </div>
                {{/isolate}}
                {{#each videoData}}
                {{/each}}
                <div class="controls">
                  <div class="col-sm-6" style="padding-left:0px;">
                    <a href="" id="previous" style="color:#979797;text-decoration:none;">
                      &lt;prev
                    </a>
                  </div>
                  <div class="col-sm-6" style="text-decoration:none;text-align:right;">
                    <a href="" id="nextVideo" style="color:#979797;text-decoration:none;">
                      next&gt;
                    </a>
                  </div>
                </div>
              </div>
      <div>
    {{/if}}
  </div>
</template>