<template name="EnteredRoom">
  <div class="videoPage">
    {{#if loading}}
      <div id="entered" style="font-size:30px;color:white">Loading...</div>
    {{else}}
      <div class="alpha60 currRoom row">
            {{#if video_objs}}
              {{#constant}}
              <div class="video-container col-xs-12 col-sm-10" id="video-container">
                <div id='youtube-video'></div>
                <div class="error" style="font-size:30px;color:white;display:none;">No Videos :( Try adding one!</div>
              </div>
              {{/constant}}
            {{else}}
            <div class="col-xs-12 col-sm-10 video-container" style="font-size:30px;color:white;">No Videos :( Try adding one!</div>
            {{/if}}
          
          {{#isolate}}
              <div class="playlist-container col-sm-2">
                <div class="row">
                  <div class="row">
                    <a href="" id="toFullscreen" class="col-sm-6" style="padding: 0px;color: #979797;text-decoration:none;">[fullscreen]</a>
                    <a href="" id="toAddVideo" class="col-sm-6" style="padding: 0px;color: #979797;text-decoration:none;text-align:right;">[add]</a>
                  </div>
                  <h2 class="col-sm-12" id="title">{{room.name}}</h2>
                  <h5 class="">Room ID: {{room.urlId}}</h5>
                </div>
                {{#if adding}}
                <div id="playlist">
                </div>
                {{else}}
                <div class="addVideoPanel">
                  <form class="form-horizontal">
                      <h5>Add a Video</h5>
                      <div class="input-group">
                        <input type="text" class="form-control" id="searchTerms">
                        <span class="input-group-btn">
                          <input type="submit" value="Search!" onclick="return false;" class="btn btn-default searchYoutube" />
                        </span>
                      </div>
                      <div id="results"></div>
                      <div class="form-actions col-sm-offset-2 col-sm-10">
                        <a class="btn delete">Cancel</a>
                      </div>
                  </form>
                </div>
                {{/if}}
                {{#each videoData}}
                {{/each}}

                <div class="controls">
                  <div class="col-sm-6 "><a id="previous"><h5 class="plus"><</h5></a></div>
                  <div class="col-sm-6 "><a id="nextVideo"><h5 class="plus">></h5></a></div>
                </div>
              </div>
             
          {{/isolate}}
      <div>
    {{/if}}
  </div>
  <div id="hidden-resizer" style="visibility: hidden"></div>
</template>