<template name="Home">
  <div class="homepage col-sm-12 text-center">
    <h1 class="large">Welcome to <span>Kikbak.tv</span></h1>
    <br/>
    <h3 class="tag">A place to make real-time playlists, with friends.</h3>
    <div class="buttonsHome">
      <a class="btn btn-sm btn-home purp-bg" href="/rooms">Browse</a>
      <a class="btn btn-sm btn-home blue-bg" href="/rooms/find">Enter Private Room</a>
      <a class="btn btn-sm btn-home green-bg" href="/rooms/new/add">Create</a>
    </div>
  </div>
  <div class="about col-sm-12">
    <div class="aboutContent">
    <h2>KikBak.tv </h2>
    <div class="row">
      <div class="col-xs-6 col-md-3"><p>1. Make or enter a Kikbak </br>
              Public - anyone anywhere can enter and edit the playlist </br>
              Private - only people you give the room id to are allowed to contribute</p> </div>
      <div class="col-xs-6 col-md-3"><p>2. Choose a mode </br>
              Theater - view the playlist (main screen) </br>
              submitter - quickly add media to the selected room</p> </div>
      <div class="col-xs-6 col-md-3"><p>3. Submit videos to the playlist </p> </div>
      <div class="col-xs-6 col-md-3"><p>4. Enjoy!</p> </div>
      </div>
    </div>
  </div>
  <div class="wrapper secondary footer col-sm-12 text-center">
    <span>Copyright © 2013 Kikbak.tv</span><span>     |     </span><span><a href="/about" class="plain">About</a></span><span>  |  </span><span><a href="/contact" class="plain">Contact</a></span>
  </div>
</template>